@require '../base'

.center-profile
    margin-bottom rem(20)
    background #FF7256 url("/Content/images/course/image1.jpg") 50% 50% no-repeat
    background-size 100%
    .weui-form-preview
        background linear-gradient(to bottom, #FF7256, rgba(0, 0, 255, 0.5));
    .center-header
        padding rem(50)
        text-align center
        color #EBEBEB
        font-size $font-size-30
        display block
        img
            width rem(100)
            margin-bottom rem(14)
    .weui-form-preview__btn_primary
        color #EBEBEB

.center-list
    margin-bottom rem(10)
    .weui-cell
        padding rem(30) rem(20)
        .weui-cell__hd
            padding-right rem(10)
            img
                width rem(44)

.weui-footer
    position absolute
    width 100%
    bottom rem(20)
