@require '../base'

.class-bar
    width 100%
    height rem(80)
    .weui-progress__inner-bar
        background-color $btn-primary-bg
        background linear-gradient(to bottom, $btn-primary-bg, rgba(0,0,255,.5))
.class-title
    position absolute
    margin-top 0
    left top
    top 0
    background none
    width 100%
    &:before
        border none
    .weui-cell__ft
        color #333
.class-list
    margin-top 0