@require '../base'

.course-item
    color #EBEBEB
    text-align center
    margin-bottom rem(2)
    background #FF7256 url("/Content/images/course/image1.jpg") 50% 50% no-repeat
    background-size 100%
    .course-info
        background linear-gradient(to bottom, #FF7256, rgba(0, 0, 255, 0.5));
        padding rem(39) rem(14)
        .course-title
            font-size $font-size-large
        .course-money
            font-size $font-size-base
            line-height $font-size-h1
            margin-top rem(20)
            span
                font-size $font-size-h1

