<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.core.repo.OrgOrdersMapper">
  <resultMap id="BaseResultMap" type="com.training.core.repo.po.OrgOrders">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="orderNo" jdbcType="VARCHAR" property="orderNo" />
    <result column="orderType" jdbcType="INTEGER" property="orderType" />
    <result column="payType" jdbcType="INTEGER" property="payType" />
    <result column="orderAmount" jdbcType="INTEGER" property="orderAmount" />
    <result column="payAmount" jdbcType="INTEGER" property="payAmount" />
    <result column="refundType" jdbcType="INTEGER" property="refundType" />
    <result column="refundAmount" jdbcType="INTEGER" property="refundAmount" />
    <result column="orderStatus" jdbcType="INTEGER" property="orderStatus" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
    <result column="operateId" jdbcType="INTEGER" property="operateId" />
    <result column="payNo" jdbcType="VARCHAR" property="payNo" />
    <result column="payUserId" jdbcType="INTEGER" property="payUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderNo, orderType, payType, orderAmount, payAmount, refundType, refundAmount, orderStatus, createTime, updateTime, operateId, payNo, payUserId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from org_orders
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from org_orders
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" parameterType="com.training.core.repo.po.OrgOrders">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into org_orders (orderNo, orderType, payType, orderAmount, payAmount, orderStatus, createTime, updateTime, operateId, payNo, payUserId)
    values (#{orderNo,jdbcType=VARCHAR}, #{orderType,jdbcType=INTEGER}, #{payType,jdbcType=INTEGER}, #{orderAmount,jdbcType=INTEGER},
      #{payAmount,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
      #{operateId,jdbcType=INTEGER}, #{payNo,jdbcType=VARCHAR}, #{payUserId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.training.core.repo.po.OrgOrders">
    update org_orders
    set
      <if test="orderType != null">
        orderType = #{orderType,jdbcType=INTEGER},
      </if>
      <if test="payType != null">
        payType = #{payType,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        orderAmount = #{orderAmount,jdbcType=INTEGER},
      </if>
      <if test="payAmount != null">
        payAmount = #{payAmount,jdbcType=INTEGER},
      </if>
      <if test="refundType != null">
        refundType = #{refundType,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null">
        refundAmount = #{refundAmount,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        orderStatus = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="operateId != null">
        operateId = #{operateId,jdbcType=INTEGER},
      </if>
      <if test="payUserId != null">
        payUserId = #{payUserId,jdbcType=INTEGER},
      </if>
      updateTime = #{updateTime,jdbcType=VARCHAR}
    where orderNo = #{orderNo,jdbcType=VARCHAR}
  </update>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from org_orders
    where 1 = 1
    <if test="orderNo != null">
      and orderNo = #{orderNo,jdbcType=VARCHAR}
    </if>
    <if test="orderType != null">
      and orderType = #{orderType,jdbcType=INTEGER}
    </if>
    <if test="orderStatus != null">
      and orderStatus = #{orderStatus,jdbcType=INTEGER}
    </if>
    order by updateTime desc
    limit #{start}, #{pageSize}
  </select>
  <select id="queryAllByDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from org_orders
    where 1 = 1
    <if test="startTime != null">
      and createTime &gt;= #{startTime,jdbcType=VARCHAR}
    </if>
    <if test="endTime != null">
      and createTime &lt;= #{endTime,jdbcType=VARCHAR}
    </if>
    <if test="orderStatus != null">
      and orderStatus = #{orderStatus,jdbcType=INTEGER}
    </if>
  </select>
</mapper>