<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.training.core.repo.OrgSportsSkillsMapper">
  <resultMap id="BaseResultMap" type="com.training.core.repo.po.OrgSportsSkills">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="skillName" jdbcType="VARCHAR" property="skillName" />
    <result column="sportId" jdbcType="INTEGER" property="sportId" />
    <result column="skillNote" jdbcType="VARCHAR" property="skillNote" />
    <result column="maxValue" jdbcType="INTEGER" property="maxValue" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="updateTime" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, skillName, sportId, skillNote, `maxValue`, status, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from org_sports_skills
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from org_sports_skills
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.training.core.repo.po.OrgSportsSkills">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into org_sports_skills (skillName, sportId, skillNote,
      `maxValue`, status, createTime, updateTime)
    values (#{skillName,jdbcType=VARCHAR}, #{sportId,jdbcType=INTEGER}, #{skillNote,jdbcType=VARCHAR},
      #{maxValue,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR},
      #{updateTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.training.core.repo.po.OrgSportsSkills">
    update org_sports_skills
    set skillName = #{skillName,jdbcType=VARCHAR},
      sportId = #{sportId,jdbcType=INTEGER},
      skillNote = #{skillNote,jdbcType=VARCHAR},
      `maxValue` = #{maxValue,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="queryAllBySportId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from org_sports_skills
    where sportId = #{sportId,jdbcType=INTEGER}
  </select>
  <delete id="clearAllBySportId" parameterType="java.lang.Integer">
    delete from org_sports_skills
    where sportId = #{sportId,jdbcType=INTEGER}
  </delete>
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into org_sports_skills (skillName, sportId, skillNote, `maxValue`, status, createTime, updateTime)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.skillName,jdbcType=VARCHAR}, #{item.sportId,jdbcType=INTEGER}, #{item.skillNote,jdbcType=VARCHAR},
      #{item.maxValue,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER}, #{item.createTime,jdbcType=VARCHAR},
      #{item.updateTime,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>