@charset "utf-8";
@require './module'

//Scaffolding
$body-bg=#FEFEFE
$text-color=#333333
$text-sec-color=#666666
$tip-color=#999999
$link-tip-color=#576a94
$link-sms-color=#576a94
$link-color=#469DFF
$link-hover-color=$link-color
$link-hover-decoration=none
$border-color=#E5E5E5

// fonts
$font-size-base=rem(28)
$font-size-30=rem(30)
$font-size-large=rem(34)
$font-size-small=rem(26)
$font-size-h1=$font-size-base * 2
$font-size-h2=rem(40)
$font-size-h3=rem(36)
$font-size-h4=rem(32)
$font-size-h5=$font-size-base
$font-size-h6=$font-size-small
$font-size-tip=rem(24)
$font-size-smallest=rem(22)

// components
$line-height-base=1.5
$padding-base-vertical=rem(17)
$padding-large-vertical=rem(34)
$padding-small-vertical=rem(8)

// buttons
$btn-font-weight=normal
$btn-default-color=#979797
$btn-default-border=#979797
$btn-default-bg=#FFFFFF
$btn-primary-color=#FFFFFF
$btn-primary-bg=#4499FF
$btn-primary-border=#4499FF
$btn-warn-color=#FFFFFF
$btn-warn-bg=#e64340
$btn-warn-border=#e64340
$btn-disabled-bg=#D5D5D5
$btn-disabled-color=#DDDDDD

// forms
$input-bg=#FFFFFF
$input-color=$text-color
$input-color-placeholder=#CCCCCC

// color
$white=#fff
$black=#000
$red = #FA4B2A
$ccc = #CCCCCC
$blue=#5690F5
$green = #16c273
$highlight=#4499FF
