@require '../base'

#student_apply_enter, #student_course_enter {
    margin: 0 auto;
    text-align: center;
    padding: rem(20);
}
.weui-panel:nth-child(1) .weui-panel__bd {
    background: #FF7256 url("/Content/images/course/image1.jpg") 50% 50% no-repeat;
    background-size: auto 100%;
}
.weui-panel:nth-child(2) .weui-panel__bd {
    background: #FF7256 url("/Content/images/course/image2.jpg") 50% 50% no-repeat;
    background-size: auto 100%;
}
